<div class="container">
  <button type="button" (click)="open(content2)" class="btn btn-primary">Adicionar Itens</button>
  <ul class="list-group">
    <li class="list-group-item list-students" aria-current="true" *ngFor="let st of students">
      {{ st.name }} {{ st.idade }}
      <button type="button" (click)="editItem(st)" class="btn btn-light">Editar</button>
      <button type="button" (click)="removeItem(st)" class="btn btn-danger">Remover</button>
    </li>
  </ul>
</div>

<app-edit-student-modal [open]="false"></app-edit-student-modal>
